node-red/.flows.json.backup
[{"id":"78146d829358f2c9","type":"tab","label":"Buttons","disabled":false,"info":"","env":[]},{"id":"d747299d.6775c8","type":"server","name":"Home Assistant","addon":true},{"id":"73ed2bc62b37f84a","type":"server-events","z":"78146d829358f2c9","name":"Black Shelly Button 1","server":"d747299d.6775c8","version":2,"eventType":"shelly.click","exposeToHomeAssistant":false,"eventData":"{\"device\":\"shellybutton1-483FDA6FB1A9\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":120,"y":220,"wires":[["cf01427165423ccc","a710c929f305eea9"]]},{"id":"cf01427165423ccc","type":"debug","z":"78146d829358f2c9","name":"msg payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":100,"wires":[]},{"id":"a710c929f305eea9","type":"switch","z":"78146d829358f2c9","name":"Determine click","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":320,"wires":[["42fca676184ea8f8"],["d16f461c9fccf0e9"],["ce2f9ef7dae9cbc5"],["47dc5db052f9903d"]]},{"id":"bc928ba12589552e","type":"debug","z":"78146d829358f2c9","name":"Single click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"4414575d3d2b70d0","type":"debug","z":"78146d829358f2c9","name":"Double click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"c5447d9182137765","type":"debug","z":"78146d829358f2c9","name":"Triple click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"eaa46fbf681ee582","type":"debug","z":"78146d829358f2c9","name":"Long click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"42fca676184ea8f8","type":"change","z":"78146d829358f2c9","name":"Single Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Single Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["bc928ba12589552e"]]},{"id":"d16f461c9fccf0e9","type":"change","z":"78146d829358f2c9","name":"Double Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Double Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["959053be561dfc18","4414575d3d2b70d0"]]},{"id":"ce2f9ef7dae9cbc5","type":"change","z":"78146d829358f2c9","name":"Triple Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Triple Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["6c09338a513ec51f","c5447d9182137765"]]},{"id":"47dc5db052f9903d","type":"change","z":"78146d829358f2c9","name":"Long Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Long Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":520,"wires":[["eaa46fbf681ee582"]]},{"id":"959053be561dfc18","type":"api-call-service","z":"78146d829358f2c9","name":"On-call light ON","server":"d747299d.6775c8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_4"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":320,"wires":[[]]},{"id":"6c09338a513ec51f","type":"api-call-service","z":"78146d829358f2c9","name":"On-call light OFF","server":"d747299d.6775c8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_4"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":440,"wires":[[]]}]