node-red/.flows.json.backup
[{"id":"78146d829358f2c9","type":"tab","label":"buttons","disabled":false,"info":"","env":[]},{"id":"6e883c15.74ec64","type":"tab","label":"blinds","disabled":true,"info":""},{"id":"be62ae505d4a2646","type":"tab","label":"covers - blinds","disabled":false,"info":"","env":[]},{"id":"d747299d.6775c8","type":"server","name":"Home Assistant","addon":true},{"id":"6d709432.e33a8c","type":"server","name":"Home Assistant","addon":true},{"id":"73ed2bc62b37f84a","type":"server-events","z":"78146d829358f2c9","name":"Black Shelly Button 1","server":"d747299d.6775c8","version":2,"eventType":"shelly.click","exposeToHomeAssistant":false,"eventData":"{\"device\":\"shellybutton1-483FDA6FB1A9\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":120,"y":220,"wires":[["cf01427165423ccc","a710c929f305eea9"]]},{"id":"cf01427165423ccc","type":"debug","z":"78146d829358f2c9","name":"msg payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":100,"wires":[]},{"id":"a710c929f305eea9","type":"switch","z":"78146d829358f2c9","name":"Determine click","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":320,"wires":[["42fca676184ea8f8"],["d16f461c9fccf0e9"],["ce2f9ef7dae9cbc5"],["47dc5db052f9903d"]]},{"id":"bc928ba12589552e","type":"debug","z":"78146d829358f2c9","name":"Single click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"4414575d3d2b70d0","type":"debug","z":"78146d829358f2c9","name":"Double click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"c5447d9182137765","type":"debug","z":"78146d829358f2c9","name":"Triple click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"eaa46fbf681ee582","type":"debug","z":"78146d829358f2c9","name":"Long click","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"42fca676184ea8f8","type":"change","z":"78146d829358f2c9","name":"Single Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Single Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["bc928ba12589552e"]]},{"id":"d16f461c9fccf0e9","type":"change","z":"78146d829358f2c9","name":"Double Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Double Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["959053be561dfc18","4414575d3d2b70d0"]]},{"id":"ce2f9ef7dae9cbc5","type":"change","z":"78146d829358f2c9","name":"Triple Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Triple Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["6c09338a513ec51f","c5447d9182137765"]]},{"id":"47dc5db052f9903d","type":"change","z":"78146d829358f2c9","name":"Long Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Long Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":520,"wires":[["eaa46fbf681ee582"]]},{"id":"959053be561dfc18","type":"api-call-service","z":"78146d829358f2c9","name":"On-call light ON","server":"d747299d.6775c8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.relay_4"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":320,"wires":[[]]},{"id":"6c09338a513ec51f","type":"api-call-service","z":"78146d829358f2c9","name":"On-call light OFF","server":"d747299d.6775c8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.relay_4"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":440,"wires":[[]]},{"id":"a8dfb2a2.b67b3","type":"change","z":"6e883c15.74ec64","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"foo","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":576,"y":825,"wires":[["1ecb441e.c2a3ec"]]},{"id":"7ef6c64.84f4b38","type":"inject","z":"6e883c15.74ec64","name":"Reset","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":269,"y":780,"wires":[["a8dfb2a2.b67b3"]]},{"id":"7a932dab.ccb6b4","type":"debug","z":"6e883c15.74ec64","name":"Four presses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":945,"wires":[]},{"id":"6aa8d630.3ea9a8","type":"inject","z":"6e883c15.74ec64","name":"Start","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":203,"y":833,"wires":[["1ecb441e.c2a3ec","e5bdda4b.c10428"]]},{"id":"1ecb441e.c2a3ec","type":"counter","z":"6e883c15.74ec64","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":503,"y":745,"wires":[["8e69df6b.54a5a"]]},{"id":"dea59f55.adc9","type":"switch","z":"6e883c15.74ec64","name":"count presses","property":"btn_10_count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":645,"y":885,"wires":[["1a68dc24.74a5e4"],["4b77b84.73eca48"],["ba33214a.1edfe"],["75f95397.84b30c"]],"info":"Just expand the flow.count to how ever many\npresses you want/need."},{"id":"e5bdda4b.c10428","type":"trigger","z":"6e883c15.74ec64","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":865,"wires":[["bff5f17e.bc716","dea59f55.adc9"]]},{"id":"8e69df6b.54a5a","type":"change","z":"6e883c15.74ec64","name":"Flow set","rules":[{"t":"set","p":"btn_10_count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":755,"wires":[["fa8033d.5279fd"]]},{"id":"90bad7f7.4d1358","type":"debug","z":"6e883c15.74ec64","name":"Tripple press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":905,"wires":[]},{"id":"d4ccc994.6acfb8","type":"debug","z":"6e883c15.74ec64","name":"Double press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1435,"y":683,"wires":[]},{"id":"df639736.4bf318","type":"debug","z":"6e883c15.74ec64","name":"Single Press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1335,"y":852,"wires":[]},{"id":"1a68dc24.74a5e4","type":"change","z":"6e883c15.74ec64","name":"Single Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Single Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":876,"y":805,"wires":[["df639736.4bf318","2a685cd9.efb154","26c1cbe8.4b5774"]]},{"id":"4b77b84.73eca48","type":"change","z":"6e883c15.74ec64","name":"Double Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Double Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":886,"y":845,"wires":[["d4ccc994.6acfb8","3ab42288.3e24be","2d78f404.a0e9ac"]]},{"id":"ba33214a.1edfe","type":"change","z":"6e883c15.74ec64","name":"Tripple Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tripple Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":876,"y":885,"wires":[["90bad7f7.4d1358"]]},{"id":"75f95397.84b30c","type":"change","z":"6e883c15.74ec64","name":"Four Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Four Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":876,"y":925,"wires":[["7a932dab.ccb6b4"]]},{"id":"54602938.0017f8","type":"comment","z":"6e883c15.74ec64","name":"DELAY - Readme","info":"The DELAY time has to be a bit longer than how\nlong it takes you to press the button the\nmaximum number of times.\nRead information in the SWITCH node too!","x":385,"y":600,"wires":[]},{"id":"9efa9b7f.28e768","type":"comment","z":"6e883c15.74ec64","name":"Living ⬆︎ ⬇︎","info":"Call through to the Shelly 2.5 relays on the living room window blinds.\nSingle click = trigger up & down\nDouble click = stop moving","x":90,"y":552,"wires":[]},{"id":"f63c18c.e2c98e8","type":"comment","z":"6e883c15.74ec64","name":"Outputs","info":"Debug nodes are here now, but just connect\nthem to what ever you want.\nThe messages sent are in the nodes just before\nthe debug nodes.\n","x":1095,"y":661,"wires":[]},{"id":"fa8033d.5279fd","type":"debug","z":"6e883c15.74ec64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","x":830,"y":755,"wires":[]},{"id":"bff5f17e.bc716","type":"delay","z":"6e883c15.74ec64","name":"Delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":409,"y":825,"wires":[["a8dfb2a2.b67b3"]]},{"id":"3ab42288.3e24be","type":"api-call-service","z":"6e883c15.74ec64","name":"Living small window blinds stop","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.shelly_shsw_25_f33fb2"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1495,"y":576,"wires":[[]]},{"id":"93926856.ef7b98","type":"server-state-changed","z":"6e883c15.74ec64","name":"Bureau button 10","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_10","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":85,"y":725,"wires":[["c5e7275b.859ef8","72abb50756b8d1b5"]]},{"id":"2a685cd9.efb154","type":"api-call-service","z":"6e883c15.74ec64","name":"Living small window blinds up","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.shelly_shsw_25_f33fb2"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1395,"y":758,"wires":[[]]},{"id":"c5e7275b.859ef8","type":"switch","z":"6e883c15.74ec64","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":259,"y":725,"wires":[["1ecb441e.c2a3ec","e5bdda4b.c10428"],[]]},{"id":"26c1cbe8.4b5774","type":"api-call-service","z":"6e883c15.74ec64","name":"Living big window blinds up","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.shelly_shsw_25_f3fd86"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1385,"y":805,"wires":[[]]},{"id":"2d78f404.a0e9ac","type":"api-call-service","z":"6e883c15.74ec64","name":"Living big window blinds stop","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.shelly_shsw_25_f3fd86"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1495,"y":636,"wires":[[]]},{"id":"67e0ca99.17e704","type":"change","z":"6e883c15.74ec64","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"foo","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":576,"y":470,"wires":[["4eabd2b6.cb043c"]]},{"id":"2c56ba78.d31236","type":"inject","z":"6e883c15.74ec64","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":269,"y":425,"wires":[["67e0ca99.17e704"]]},{"id":"4d909a0d.000dc4","type":"debug","z":"6e883c15.74ec64","name":"Four presses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":590,"wires":[]},{"id":"58379a74.8ade54","type":"inject","z":"6e883c15.74ec64","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":203,"y":478,"wires":[["4eabd2b6.cb043c","ba72dae2.a34f18"]]},{"id":"4eabd2b6.cb043c","type":"counter","z":"6e883c15.74ec64","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":503,"y":390,"wires":[["b20cb71b.61f1a8"]]},{"id":"85f78d27.51a5e","type":"switch","z":"6e883c15.74ec64","name":"count presses","property":"btn_9_count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":645,"y":530,"wires":[["787a1455.df36fc"],["e9df39ea.11e4b8"],["9293ae06.db02f"],["57f22e5a.25163"]],"info":"Just expand the flow.count to how ever many\npresses you want/need."},{"id":"ba72dae2.a34f18","type":"trigger","z":"6e883c15.74ec64","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":510,"wires":[["181a773b.fedf99","85f78d27.51a5e"]]},{"id":"b20cb71b.61f1a8","type":"change","z":"6e883c15.74ec64","name":"Flow set","rules":[{"t":"set","p":"btn_9_count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":400,"wires":[["2fc5a968.39eda6"]]},{"id":"34a65a7a.7bc0c6","type":"debug","z":"6e883c15.74ec64","name":"Tripple press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":550,"wires":[]},{"id":"37892763.0f8988","type":"debug","z":"6e883c15.74ec64","name":"Double press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1435,"y":530,"wires":[]},{"id":"6558c2cd.8a23cc","type":"debug","z":"6e883c15.74ec64","name":"Single Press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1335,"y":358,"wires":[]},{"id":"787a1455.df36fc","type":"change","z":"6e883c15.74ec64","name":"Single Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Single Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":876,"y":450,"wires":[["6558c2cd.8a23cc","434ae650.9ff858","8d63b99a.49ff18"]]},{"id":"e9df39ea.11e4b8","type":"change","z":"6e883c15.74ec64","name":"Double Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Double Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":886,"y":490,"wires":[["37892763.0f8988","3ab42288.3e24be","2d78f404.a0e9ac"]]},{"id":"9293ae06.db02f","type":"change","z":"6e883c15.74ec64","name":"Tripple Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tripple Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":876,"y":530,"wires":[["34a65a7a.7bc0c6"]]},{"id":"57f22e5a.25163","type":"change","z":"6e883c15.74ec64","name":"Four Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Four Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":876,"y":570,"wires":[["4d909a0d.000dc4"]]},{"id":"2fc5a968.39eda6","type":"debug","z":"6e883c15.74ec64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"181a773b.fedf99","type":"delay","z":"6e883c15.74ec64","name":"Delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":409,"y":470,"wires":[["67e0ca99.17e704"]]},{"id":"7ca10297.80ed3c","type":"server-state-changed","z":"6e883c15.74ec64","name":"Bureau button 9","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_9","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":85,"y":370,"wires":[["2c2ce7b.4fa7b18","d027969c876d999c"]]},{"id":"434ae650.9ff858","type":"api-call-service","z":"6e883c15.74ec64","name":"Living small window blinds down","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.shelly_shsw_25_f33fb2"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1405,"y":403,"wires":[[]]},{"id":"2c2ce7b.4fa7b18","type":"switch","z":"6e883c15.74ec64","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":259,"y":370,"wires":[["4eabd2b6.cb043c","ba72dae2.a34f18"],[]]},{"id":"8d63b99a.49ff18","type":"api-call-service","z":"6e883c15.74ec64","name":"Living big window blinds down","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.shelly_shsw_25_f3fd86"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1395,"y":450,"wires":[[]]},{"id":"d027969c876d999c","type":"debug","z":"6e883c15.74ec64","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":220,"y":300,"wires":[]},{"id":"72abb50756b8d1b5","type":"debug","z":"6e883c15.74ec64","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":140,"y":880,"wires":[]},{"id":"7d49b3279c11080c","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 22","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_22","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":680,"wires":[["9f1f0aa0581b880a"]]},{"id":"9f1f0aa0581b880a","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":680,"wires":[["2c5d552cf41bbbeb","d9b0f56d705ab9bc","2f8905fd4fafd303"],[]]},{"id":"2c5d552cf41bbbeb","type":"debug","z":"be62ae505d4a2646","name":"living rolluik omhoog pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":640,"wires":[]},{"id":"d9b0f56d705ab9bc","type":"api-call-service","z":"be62ae505d4a2646","name":"Living small window blinds up","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_klein_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":650,"y":680,"wires":[[]]},{"id":"2f8905fd4fafd303","type":"api-call-service","z":"be62ae505d4a2646","name":"Living big window blinds up","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_groot_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":640,"y":727,"wires":[[]]},{"id":"0c8eb54123af7c9c","type":"comment","z":"be62ae505d4a2646","name":"Living rolluiken ⬆︎ ⬇︎","info":"Call through to the Shelly 2.5 relays on the living room window blinds.\nSingle clicks = trigger up & down","x":150,"y":640,"wires":[]},{"id":"2b99a8c253014eaf","type":"comment","z":"be62ae505d4a2646","name":"Living rolluiken ⬆︎","info":"Call through to the Shelly 2.5 relays on the living room window blinds.","x":290,"y":720,"wires":[]},{"id":"5b5c9542b683de7a","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 23","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_23","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":820,"wires":[["cf8112a231ad1d0f"]]},{"id":"cf8112a231ad1d0f","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":820,"wires":[["2d8d38ab8f3f7185","38a1311de877268b","e7c78c5da82c14be"],[]]},{"id":"2d8d38ab8f3f7185","type":"debug","z":"be62ae505d4a2646","name":"living rolluik stop pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":780,"wires":[]},{"id":"38a1311de877268b","type":"api-call-service","z":"be62ae505d4a2646","name":"Living small window blinds stop","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_klein_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":650,"y":820,"wires":[[]]},{"id":"e7c78c5da82c14be","type":"api-call-service","z":"be62ae505d4a2646","name":"Living big window blinds stop","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_groot_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":650,"y":867,"wires":[[]]},{"id":"fa9716ae24159379","type":"comment","z":"be62ae505d4a2646","name":"Living rolluiken 🛑","info":"Call through to the Shelly 2.5 relays on the living room window blinds.","x":290,"y":860,"wires":[]},{"id":"82e6a56153ca8d6f","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 24","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_24","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":960,"wires":[["7745ede50ae6c4a3"]]},{"id":"7745ede50ae6c4a3","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":960,"wires":[["9f5afb1320a5fba5","0be4d3d89c50c3b6","f16258c38a005e7e"],[]]},{"id":"9f5afb1320a5fba5","type":"debug","z":"be62ae505d4a2646","name":"living rolluik omlaag pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":920,"wires":[]},{"id":"0be4d3d89c50c3b6","type":"api-call-service","z":"be62ae505d4a2646","name":"Living small window blinds down","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_klein_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":660,"y":960,"wires":[[]]},{"id":"f16258c38a005e7e","type":"api-call-service","z":"be62ae505d4a2646","name":"Living big window blinds down","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_groot_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":650,"y":1007,"wires":[[]]},{"id":"48cca9a99d20fe2b","type":"comment","z":"be62ae505d4a2646","name":"Living rolluiken ⬇︎","info":"Call through to the Shelly 2.5 relays on the living room window blinds.","x":290,"y":1000,"wires":[]},{"id":"05853967b7c38def","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 21","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_21","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1080,"wires":[["665fc1497307bed5"]]},{"id":"c218a10414230dbb","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 26","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_26","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1340,"wires":[["27bf2ad0d29173e1"]]},{"id":"27bf2ad0d29173e1","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":1340,"wires":[["9a7c1b50af559e50","3290665994f2fac7"],[]]},{"id":"9a7c1b50af559e50","type":"debug","z":"be62ae505d4a2646","name":"bureau gordijn omhoog pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1300,"wires":[]},{"id":"3290665994f2fac7","type":"api-call-service","z":"be62ae505d4a2646","name":"Office curtains up","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.office_curtains"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":610,"y":1340,"wires":[[]]},{"id":"f16f4ce96351bf0a","type":"comment","z":"be62ae505d4a2646","name":"Bureau gordijnen ⬆︎ ⬇︎","info":"Call through to the Shelly 2.5 relays on the office sun blinds.\nSingle clicks = trigger up & down","x":160,"y":1300,"wires":[]},{"id":"2081b200533a236f","type":"comment","z":"be62ae505d4a2646","name":"Bureau gordijnen ⬆︎","info":"Call through to the Shelly 2.5 relays on the office sun blinds.","x":290,"y":1380,"wires":[]},{"id":"3d4778063b92d06d","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 27","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_27","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1480,"wires":[["6c020bc210e55482"]]},{"id":"6c020bc210e55482","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":1480,"wires":[["c0b6cac6d41361c6","3e09b1b4b3c2ab0b"],[]]},{"id":"c0b6cac6d41361c6","type":"debug","z":"be62ae505d4a2646","name":"bureau gordijn stop pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":1440,"wires":[]},{"id":"3e09b1b4b3c2ab0b","type":"api-call-service","z":"be62ae505d4a2646","name":"Office curtains stop","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.office_curtains"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":610,"y":1480,"wires":[[]]},{"id":"53cdc288f285b25a","type":"comment","z":"be62ae505d4a2646","name":"Bureau gordijnen 🛑","info":"Call through to the Shelly 2.5 relays on the office sun blinds.","x":290,"y":1520,"wires":[]},{"id":"1a2ead734ef45975","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 28","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_28","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1660,"wires":[["ca069204da54a417"]]},{"id":"ca069204da54a417","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":1660,"wires":[["2480cd613c983c9b","9ecc9bc0e286def9"],[]]},{"id":"2480cd613c983c9b","type":"debug","z":"be62ae505d4a2646","name":"bureau gordijn omlaag pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1620,"wires":[]},{"id":"9ecc9bc0e286def9","type":"api-call-service","z":"be62ae505d4a2646","name":"Office curtains down","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.office_curtains"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":620,"y":1660,"wires":[[]]},{"id":"8533294deab46522","type":"comment","z":"be62ae505d4a2646","name":"Bureau gordijnen ⬇︎","info":"Call through to the Shelly 2.5 relays on the office sun blinds.","x":290,"y":1700,"wires":[]},{"id":"0a8adba11e96aa0b","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 25","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_25","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1560,"wires":[["6c020bc210e55482"]]},{"id":"665fc1497307bed5","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1080,"wires":[["8682a2470d15be14","b38a0336d80d8503","6c910efe25111f55"],[]]},{"id":"8682a2470d15be14","type":"debug","z":"be62ae505d4a2646","name":"living rolluik sun protection pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1060,"wires":[]},{"id":"4f6fc5a7d2ba3d7a","type":"comment","z":"be62ae505d4a2646","name":"Living rolluiken zonnewering","info":"Call through to the Shelly 2.5 relays on the living room window blinds.","x":320,"y":1120,"wires":[]},{"id":"b38a0336d80d8503","type":"api-call-service","z":"be62ae505d4a2646","name":"Living small window blinds sun","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.rolluik_klein_venster"],"data":"{\"position\":35}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":650,"y":1100,"wires":[[]]},{"id":"6c910efe25111f55","type":"api-call-service","z":"be62ae505d4a2646","name":"Living big window blinds sun","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.rolluik_groot_venster"],"data":"{\"position\":35}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":640,"y":1147,"wires":[[]]},{"id":"400f15dfa9017cef","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 22","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_22","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":100,"wires":[["85bb2918f56cfaa4"]]},{"id":"85bb2918f56cfaa4","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":100,"wires":[["f32a6309b46ad011","eae54dc86460e4c8","c94256286817854e"],[]]},{"id":"f32a6309b46ad011","type":"debug","z":"be62ae505d4a2646","name":"living rolluik omhoog pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":60,"wires":[]},{"id":"eae54dc86460e4c8","type":"api-call-service","z":"be62ae505d4a2646","name":"Living small window blinds up","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_klein_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":650,"y":100,"wires":[[]]},{"id":"c94256286817854e","type":"api-call-service","z":"be62ae505d4a2646","name":"Living big window blinds up","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.rolluik_groot_venster"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":640,"y":147,"wires":[[]]},{"id":"7cbee5e8fec5a0f7","type":"comment","z":"be62ae505d4a2646","name":"Bureau rolluiken ⬆︎ ⬇︎","info":"Call through to the Office Somfy RTS shutters.","x":160,"y":60,"wires":[]},{"id":"e36b4d79ed4555b1","type":"comment","z":"be62ae505d4a2646","name":"Bureau rolluiken ⬆︎","info":"Call through to the Office Somfy RTS shutters.","x":290,"y":140,"wires":[]},{"id":"5b4d45c2880e6277","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 19","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_19","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":240,"wires":[["e32f3a6d211ba2b5"]]},{"id":"e32f3a6d211ba2b5","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":240,"wires":[["361d12d4d24a9e9e","054a09ce5f374d87"],[]]},{"id":"361d12d4d24a9e9e","type":"debug","z":"be62ae505d4a2646","name":"office alle rolluiken stop pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"054a09ce5f374d87","type":"api-call-service","z":"be62ae505d4a2646","name":"Office all covers stop","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":620,"y":240,"wires":[[]]},{"id":"f73cb9c5af3c2dad","type":"comment","z":"be62ae505d4a2646","name":"Bureau rolluiken 🛑","info":"Call through to the Office Somfy RTS shutters.","x":290,"y":280,"wires":[]},{"id":"ff747e8bbff4e54e","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 20","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_20","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":380,"wires":[["ab8c8b27283147f3"]]},{"id":"ab8c8b27283147f3","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":380,"wires":[["237da61a04ac3422","5cb25ae6154d7df6"],[]]},{"id":"237da61a04ac3422","type":"debug","z":"be62ae505d4a2646","name":"office alle rolluiken omlaag pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":340,"wires":[]},{"id":"5cb25ae6154d7df6","type":"api-call-service","z":"be62ae505d4a2646","name":"Office all covers down","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.office_covers"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":620,"y":380,"wires":[[]]},{"id":"80309fc8da07081d","type":"comment","z":"be62ae505d4a2646","name":"Bureau rolluiken ⬇︎","info":"Call through to the Office Somfy RTS shutters.","x":290,"y":420,"wires":[]},{"id":"fd7d058db1ce5eb3","type":"server-state-changed","z":"be62ae505d4a2646","name":"Bureau button 17","server":"6d709432.e33a8c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bureau_knop_17","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":500,"wires":[["1f5b7a7efe2395a8"]]},{"id":"1f5b7a7efe2395a8","type":"switch","z":"be62ae505d4a2646","name":"Detect press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":500,"wires":[["8cf6f9223e5979c3","d8568714efe537cd"],[]]},{"id":"8cf6f9223e5979c3","type":"debug","z":"be62ae505d4a2646","name":"office alle rolluiken sun protection pressed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":480,"wires":[]},{"id":"4fb3b8794b5da69a","type":"comment","z":"be62ae505d4a2646","name":"Bureau rolluiken zonnewering","info":"Call through to the Office Somfy RTS shutters.","x":320,"y":540,"wires":[]},{"id":"d8568714efe537cd","type":"api-call-service","z":"be62ae505d4a2646","name":"Office all covers sun","server":"6d709432.e33a8c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.office_covers"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":620,"y":520,"wires":[[]]},{"id":"7a68fc0f10662870","type":"comment","z":"be62ae505d4a2646","name":"TODO","info":"","x":930,"y":80,"wires":[]}]